@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

/* reset de bază */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  all: unset;          /* elimină stilurile implicite */
  font: inherit;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fdf1e0;
}

body, #root {
  min-height: 100vh;
  width: 100%;
}

.app {
  width: 100%;
  min-height: 100vh;
}
